{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card" style="border:solid; border-color:yellow;">
                    <div class="card-header" style="background-color: blue; color: #fff;">{{ 'Connexion'|trans }}</div>
                    <div class="card-body" style="background-color: white;">
                        <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">Votre email ou votre mot de passe est incorrect</div>
                        {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                                </div>
                            {% endif %}

                            <label for="inputEmail">Adresse e-mail</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                            <label for="inputPassword">Mot de passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control mb-3" autocomplete="current-password" required>

                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >

                            {#
                            Décommentez cette section et ajoutez une option remember_me ci-dessous votre firewall pour activer la fonctionnalité remember me.
                            Voir https://symfony.com/doc/current/security/remember_me.html

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                                </label>
                            </div>
                            #}

                            <button class="btn btn-lg btn-primary" type="submit" style="background-color: blue;">
                                Se connecter
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
