{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 900px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    {% if app.user%} <!--Page visible par une personne connecté -->
        <div class = "container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-2"> <!-- Volets de navigation -->
                    Volets de navigation
                </div>
                <div class="col-md-9"> <!-- Affichage dashboard -->
                        <!-- Formulaire de recherche -->
                            {% include "trajets/search_bar.html.twig" %}

                        <!-- Notifications -->
                        <div class="row justify-content-center">
                            <div class="col-sm-8">
                                <div class="card text-dark bg-light">
                                    <div class="card-header bg-primary text-left text-white">
                                        <h4 class="card-title">Mes notifications : <a href="{{path('app_notification')}}" style="text-decoration:none"><small class="text-white">(cliquez ici pour toutes les voir)</small></a> </h4>
                                    </div>                           
                                    <div class="card-body">
                                        <ul>
                                            {% for notification in notifications|slice(0, 3)%} <!-- Limitation à 3 notifications -->
                                                <div class="notifications {% if notification.isRead() %}read-notification{% endif %}">  
                                                {% if notification.isRead() %}          
                                                    <li>{{ notification.getMessage() }} (lue)</li>
                                                {% else %}
                                                    <li>{{ notification.getMessage() }}</li>
                                                    <form action="{{ path('app_mark_notification_as_read', {'id': notification.getId()}) }}" method="post" style="display:inline;">
                                                        <button type="submit" class="btn btn-primary">Marquer comme lu</button>
                                                    </form>
                                                {% endif %}
                                                <a  href="{{ path('app_supprimer_notif', {'id': notification.getId()}) }}">
                                                <button class="btn btn-danger" >Supprimer la notification</button> 
                                                </a>
                                            </div>
                                            {% else %} <!-- Si il n'y a pas de notifications dans la boucle--> 
                                                <div class="row justify-content-center"> Vous n'avez aucune notification </div>
                                            {% endfor %}
                                        </ul>     
                                    </div>
                                </div>
                            </div>
                        <!-- Les trajets --> 
                        <div class="col-sm-8">
                            <div class="card text-dark bg-light">
                                <div class="card-header bg-primary text-left text-white">
                                    <h4 class="card-title">Mes trajets : <a href="{{path('app_trajets_index')}}" style="text-decoration:none"><small class="text-white">(cliquez ici pour toutes les voir)</small></a> </h4>
                                </div>                           
                                <div class="card-body">
                                      <ul class="nav nav-tabs justify-content-center" id="tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="propositions-tab" data-toggle="tab" href="#propositions" role="tab" aria-controls="propositions" aria-selected="true">Mes propositions</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="trajets-en-attente-tab" data-toggle="tab" href="#trajets-en-attente" role="tab" aria-controls="trajets-en-attente" aria-selected="false">Trajets en attente</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="trajets-inscrits-tab" data-toggle="tab" href="#trajets-inscrits" role="tab" aria-controls="trajets-inscrits" aria-selected="false">Trajets inscrits</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="tabsContent">
                                        <div class="tab-pane fade show active text-center" id="propositions" role="tabpanel" aria-labelledby="propositions-tab">
                                            <!-- Afficher les propositions de l'utilisateur -->
                                            {% for trajet in trajets|slice(0, 3)%} <!-- Limitation à 3 notifications -->
                                                {% if trajet.publie == app.user %}          
                                                    <a href="#" class="list-group-item list-group-item-action">{{ trajet.demarrea }} --> {{ trajet.arrivea }}</a>
                                                {% endif %}
                                            {% else %} <!-- Si il n'y a pas de notifications dans la boucle--> 
                                                <div class="row justify-content-center"> Aucune proposition disponible. </div>
                                            {% endfor %}
                                            
                                        </div>
                                        <div class="tab-pane fade text-center" id="trajets-en-attente" role="tabpanel" aria-labelledby="trajets-en-attente-tab">
                                            <!-- Afficher les trajets en attente -->
                                            {% for adoption in adopte|slice(0, 3)%} <!-- Limitation à 3 notifications -->
                                                {% if adoption.getUtilisateur() == user %}          
                                                    <a href="#" class="list-group-item list-group-item-action">{{ adoption.getTrajet().demarrea }} --> {{ adoption.getTrajet().arrivea }}</a>
                                                {% endif %}
                                            {% else %} <!-- Si il n'y a pas de notifications dans la boucle--> 
                                                <div class="row justify-content-center"> Aucun trajet en attente. </div>
                                            {% endfor %}
                                        </div>
                                        <div class="tab-pane fade text-center" id="trajets-inscrits" role="tabpanel" aria-labelledby="trajets-inscrits-tab">
                                            <!-- Afficher les trajets où l'utilisateur est inscrits  -->                          
                                            {% for adoption in adopte|slice(0, 3)%} <!-- Limitation à 3 notifications -->
                                                {% if adoption.getUtilisateur() == user %}          
                                                    <a href="#" class="list-group-item list-group-item-action">{{ adoption.getTrajet().demarrea }} --> {{ adoption.getTrajet().arrivea }}</a>
                                                {% endif %}
                                            {% else %} <!-- Si il n'y a pas de notifications dans la boucle--> 
                                                <div class="row justify-content-center"> Aucun trajet en attente. </div>
                                            {% endfor %}   
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %} <!--Page visible par une personne non connecté -->
        <div class="example-wrapper">
            <h1>Bienvenue sur Adopte Auto-Mate ! </h1>

            Bienvenue sur notre site de co-voiturage ! Nous sommes ravis de vous accueillir et de vous offrir
            la possibilité de partager vos trajets avec d'autres voyageurs. Grâce à notre plateforme conviviale, 
            vous pouvez facilement trouver des conducteurs ou des passagers pour partager les frais de déplacement et réduire
            votre empreinte carbone.
            <ul>
                <li> Notre communauté de co-voitureurs est composée de personnes soucieuses de l'environnement, de l'économie et de la convivialité. Nous croyons que le co-voiturage est l'avenir du transport, et nous sommes fiers de faire partie de cette révolution </li>
                <li>Que vous cherchiez un moyen de vous rendre au travail, d'aller à un événement ou simplement de faire une virée en ville, notre site de co-voiturage est là pour vous aider. Nous sommes impatients de vous aider à trouver le trajet parfait et de faciliter votre voyage.</li>
            </ul>
            Inscrivez-vous dès maintenant pour rejoindre notre communauté de co-voitureurs et découvrir tous les avantages que le co-voiturage peut offrir !
        </div>
    {% endif %}
{% endblock %}
