{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{% endblock %}

{% block body %}
    {% if app.user%} <!--Page visible par une personne connecté -->
        <div class = "container-fluid">
            <div class="row justify-content-center">
                </hr>
                <div class="col-md-3"> <!-- Volets de navigation -->
                    {% include 'partials/_sidebar.html.twig' %}
                </div>

                <div class="col-md-9"> <!-- Affichage dashboard -->
                    <div class="row justify-content-center">
                        <!-- Formulaire de recherche -->
                        <form method="get" action="{{path('app_trajets_search')}}">
                            <datalist id="villes">
                                {% for ville in villes %}
                                    <option value="{{ville.getNomVille()}} " class="ville-option">{{ville.getNomVille()}} <span class="cp">- {{ville.getCP()}}</span></option>
                                {% endfor %}
                            </datalist>
                            <div class="form-row align-items-center">
                                <div class="col-sm-3 my-1">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">De</div>
                                        </div>
                                        <input type="text" class="form-control" name="ville_depart" placeholder="Ville de départ" required value="{{ app.request.query.get('ville_depart') }}" autocomplete="off" list="villes">
                                    </div>
                                </div>
                                <div class="col-sm-3 my-1">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">à</div>
                                        </div>
                                        <input type="text" class="form-control" name="ville_arrivee" placeholder="Ville d'arrivée" value="{{ app.request.query.get('ville_arrivee') }}" autocomplete="off" list="villes">
                                    </div>
                                </div>
                                <div class="col-sm-3 my-1">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">le</div>
                                        </div>
                                        <input type="date" class="form-control" id="date_depart" name="date_depart" min="{{ "now"|date("Y-m-d") }}" value="{{ app.request.query.get('date_depart') }}" required>
                                    </div>
                                </div>
                                    <button class="btn btn-primary" type="submit">Rechercher <i class="fa-solid fa-magnifying-glass"></i></button>
                                </div>
                            </div>
                        </form>
                        <hr>
                        </br>
                        <!-- Notifications -->
                        <div class="row justify-content-center">
                            <div class="col-sm-8">
                                <div class="card text-dark bg-light">
                                    <div class="card-header bg-primary text-left text-white">
                                        <h4 class="card-title">Mes notifications : <a href="{{path('app_notification')}}" style="text-decoration:none"><small class="text-white">(cliquez ici pour toutes les voir)</small></a> </h4>
                                    </div>                           
                                    <div class="card-body">
                                        <ul>
                                            {% for notification in notifications|slice(0, 3)%} <!-- Limitation à 3 notifications -->
                                                <div class="notifications {% if notification.isRead() %}read-notification{% endif %}">  
                                                {% if notification.isRead() %}          
                                                    <li>{{ notification.getMessage() }} (lue)</li>
                                                {% else %}
                                                    <li>{{ notification.getMessage() }}</li>
                                                    <form action="{{ path('app_mark_notification_as_read', {'id': notification.getId()}) }}" method="post" style="display:inline;">
                                                        <button type="submit" class="btn btn-primary">Marquer comme lu</button>
                                                    </form>
                                                {% endif %}
                                                <a  href="{{ path('app_supprimer_notif', {'id': notification.getId()}) }}">
                                                <button class="btn btn-danger" >Supprimer la notification</button> 
                                                </a>
                                            </div>
                                            {% else %} <!-- Si il n'y a pas de notifications dans la boucle--> 
                                                <div class="row justify-content-center"> Vous n'avez aucune notification </div>
                                            {% endfor %}
                                        </ul>     
                                    </div>
                                </div>
                            </div>
                            </br>
                            <!-- Les trajets --> 
                            <div class="col-sm-8">
                                </br>
                                <div class="card text-dark bg-light">
                                    <div class="card-header bg-primary text-left text-white">
                                        <h4 class="card-title">Mes trajets : <a href="{{path('app_trajets_index')}}" style="text-decoration:none"><small class="text-white">(cliquez ici pour toutes les voir)</small></a> </h4>
                                    </div>                           
                                    <div class="card-body">
                                        <ul class="nav nav-tabs justify-content-center" id="tabs" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="propositions-tab" data-toggle="tab" href="#propositions" role="tab" aria-controls="propositions" aria-selected="true">Mes propositions</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="trajets-en-attente-tab" data-toggle="tab" href="#trajets-en-attente" role="tab" aria-controls="trajets-en-attente" aria-selected="false">Trajets en attente</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="trajets-inscrits-tab" data-toggle="tab" href="#trajets-inscrits" role="tab" aria-controls="trajets-inscrits" aria-selected="false">Trajets inscrits</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="tabsContent">
                                            <div class="tab-pane fade show active text-center" id="propositions" role="tabpanel" aria-labelledby="propositions-tab">
                                                <!-- Afficher les propositions de l'utilisateur -->
                                                {% for trajet in trajets|slice(0, 3)%} <!-- Limitation à 3 notifications -->
                                                    {% if trajet.publie == app.user %}          
                                                        <a href="#" class="list-group-item list-group-item-action">{{ trajet.demarrea }} --> {{ trajet.arrivea }}</a>
                                                    {% endif %}
                                                {% else %} <!-- Si il n'y a pas de notifications dans la boucle--> 
                                                    <div class="row justify-content-center"> Aucune proposition disponible. </div>
                                                {% endfor %}
                                                
                                            </div>
                                            <div class="tab-pane fade text-center" id="trajets-en-attente" role="tabpanel" aria-labelledby="trajets-en-attente-tab">
                                                <!-- Afficher les trajets en attente -->
                                                {% for adoption in adopte|slice(0, 3)%} <!-- Limitation à 3 notifications -->
                                                    {% if adoption.getUtilisateur() == user %}          
                                                        <a href="#" class="list-group-item list-group-item-action">{{ adoption.getTrajet().demarrea }} --> {{ adoption.getTrajet().arrivea }}</a>
                                                    {% endif %}
                                                {% else %} <!-- Si il n'y a pas de notifications dans la boucle--> 
                                                    <div class="row justify-content-center"> Aucun trajet en attente. </div>
                                                {% endfor %}
                                            </div>
                                            <div class="tab-pane fade text-center" id="trajets-inscrits" role="tabpanel" aria-labelledby="trajets-inscrits-tab">
                                                <!-- Afficher les trajets où l'utilisateur est inscrits  -->                          
                                                {% for inscription in inscriptions|slice(0, 3)%} <!-- Limitation à 3 notifications -->
                                                    {% if inscription.getUtilisateur() == user %}          
                                                        <a href="#" class="list-group-item list-group-item-action">{{ adoption.getTrajet().demarrea }} --> {{ adoption.getTrajet().arrivea }}</a>
                                                    {% endif %}
                                                {% else %} <!-- Si il n'y a pas de notifications dans la boucle--> 
                                                    <div class="row justify-content-center"> Vous n'êtes inscrit à aucun trajet. </div>
                                                {% endfor %}   
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %} <!--Page visible par une personne non connecté -->
        <div class="example-wrapper">
            <h1>Bienvenue sur Adopte Auto-Mate ! </h1>

            Bienvenue sur notre site de co-voiturage ! Nous sommes ravis de vous accueillir et de vous offrir
            la possibilité de partager vos trajets avec d'autres voyageurs. Grâce à notre plateforme conviviale, 
            vous pouvez facilement trouver des conducteurs ou des passagers pour partager les frais de déplacement et réduire
            votre empreinte carbone.
            <ul>
                <li> Notre communauté de co-voitureurs est composée de personnes soucieuses de l'environnement, de l'économie et de la convivialité. Nous croyons que le co-voiturage est l'avenir du transport, et nous sommes fiers de faire partie de cette révolution </li>
                <li>Que vous cherchiez un moyen de vous rendre au travail, d'aller à un événement ou simplement de faire une virée en ville, notre site de co-voiturage est là pour vous aider. Nous sommes impatients de vous aider à trouver le trajet parfait et de faciliter votre voyage.</li>
            </ul>
            Inscrivez-vous dès maintenant pour rejoindre notre communauté de co-voitureurs et découvrir tous les avantages que le co-voiturage peut offrir !
        </div>
    {% endif %}
{% endblock %}
