{% extends 'base.html.twig' %}

{% block title %}Notifications{% endblock %}

{% block body %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
{% endblock %}
<!-- contenu de la page -->
    <div class = "container-fluid">
        <div class="row justify-content-left">
            </hr>
            <div class="col-md-3"> <!-- Volets de navigation -->
                {% include 'partials/_sidebar.html.twig' %}
            </div>
            
            <style>
                .example-wrapper { margin: 1em auto; max-width: 700px; width: 95%; font: 18px/1.5 sans-serif; }
                .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
            </style>
            <div class="example-wrapper">

            <div class="col-md-9">
                <h1>Mes notifications : </h1>
                <hr/> 
                <br>
                {% if notifications|length == 0 %}
                    <p>Aucune notification</p>
                {% else %}
                <a  href="{{ path('app_mark_all_notifications_as_read') }}">
                <button id="mark-all-read" class="btn btn-primary mb-2">Marquer tout comme lu</button>
                </a>
                <a  href="{{ path('app_delete_all_notifications') }}">
                <button id="delete-all" class="btn btn-danger mb-2">Supprimer tout</button>
                </a>
                </br>
                <hr>
                <h2> Notifications non-lues : </h2>
                    <ul>
                        {% for notification in notifications %}
                            <div class="notifications">  
                            {% if not(notification.isRead()) %}          
                                <li>{{ notification.getCreatedAt|date('d/m/Y : H:i') }} : {{ notification.getMessage() }}</li>
                                {% if notification.getTypeNotif() == 2 %}
                                    {% if notification.getTrajetQuiEstDemande() != null and notification.getUserQuiDemandeTrajet() != null %}
                                        <a href="{{ path('app.estAccepte', {'trajetId': notification.getTrajetQuiEstDemande().id, 'utilisateurId': notification.getUserQuiDemandeTrajet().id, 'notificationId': notification.getId()}) }}" class="btn btn-success">Accepter ce passager</a>
                                        <a href="{{ path('app.estRefuse', {'trajetId': notification.getTrajetQuiEstDemande().id, 'utilisateurId': notification.getUserQuiDemandeTrajet().id,'notificationId': notification.getId()}) }}" class="btn btn-danger">Refuser ce passager</a>
                                    {% endif %}
                                {% endif %}

                                <form action="{{ path('app_mark_notification_as_read', {'id': notification.getId()}) }}" method="post" style="display:inline;">
                                    <button type="submit" class="btn btn-primary">Marquer comme lu</button>
                                </form>
                            <a  href="{{ path('app_supprimer_notif', {'id': notification.getId()}) }}">
                            <button class="btn btn-danger" >Supprimer la notification</button> 
                            </a>
                            {% endif %}
                        </div>
                        {% endfor %}
                         </br>
                        <hr>
                        <h2> Notifications lues : </h2> 
                        {% for notification in notifications %}
                        <div class="notifications {% if notification.isRead() %}read-notification{% endif %}"> 
                            {% if notification.isRead() %}          
                                <li>{{ notification.getCreatedAt|date('d/m/Y : H:i') }} : {{ notification.getMessage() }}</li>
                        </div>
                        {% if notification.getTypeNotif() == 2 %}
                            {% if notification.getTrajetQuiEstDemande() != null and notification.getUserQuiDemandeTrajet() != null %}
                                <a href="{{ path('app.estAccepte', {'trajetId': notification.getTrajetQuiEstDemande().id, 'utilisateurId': notification.getUserQuiDemandeTrajet().id, 'notificationId': notification.getId()}) }}" class="btn btn-success">Accepter ce passager</a>
                                <a href="{{ path('app.estRefuse', {'trajetId': notification.getTrajetQuiEstDemande().id, 'utilisateurId': notification.getUserQuiDemandeTrajet().id,'notificationId': notification.getId()}) }}" class="btn btn-danger">Refuser ce passager</a>
                                {% endif %}
                        {% endif %}
                            <a  href="{{ path('app_supprimer_notif', {'id': notification.getId()}) }}">
                            <button class="btn btn-warning" >Supprimer la notification</button>
                            </a>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
