{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <h1 class ="center">Mon compte</h1>
    <div class="profil">
    <ul>
        <li>Nom : {{ user.getNom() }}</li>
        <li>Prénom : {{user.getPrenom}}</li>
        <li>Num Tél : {{user.getNumTel}}</li>
        <li>Email : {{ user.email }}</li>
        <li>Voiture : <div class="radio-group">
                        <label>
                            <input type="radio" name="option" value="true">
                                Oui
                        </label>
                        <label>
                            <input type="radio" name="option" value="false">
                                Non
                        </label>
                        </div>
        </li>
        
        
    </ul>
    </div>
{% endblock %}
