{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{asset('css/app.css')}}">

    <h1 class='center'>Modifier mon profil</h1>
    <div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="background-color: #007bff; color: #fff">{{ 'Modification'|trans }}</div>
                <div class="card-body" style="background-color: #f8f9fa;">
    {{form_start(form)}}
    {{ form_errors(form) }}
        {# EMAIL #} 
        <div class="form-group">
            {{ form_label(form.email, 'Adresse Mail') }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>
        {# NOM #}
        <div class="form-group">
        {{ form_label(form.nom, 'Nom') }}
        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        </div>
        {# PRENOM #}
        <div class="form-group">
        {{ form_label(form.prenom, 'Prénom') }}
        {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
        </div>
        {# NUM_TEL #}
        <div class="form-group">
        {{ form_label(form.num_tel, 'Numéro de téléphone') }}
        {{ form_widget(form.num_tel, {'attr': {'class': 'form-control'}}) }}
        </div>
        {# VOITURE #}
        <div class="form-group">
        {{ form_label(form.vehicule, 'Voiture') }}
        {{ form_widget(form.vehicule, {'attr': {'class': 'form-control'}}) }}
        </div>
        {# GENRE #}
        <div class="form-group">
        {{ form_label(form.genre, 'Genre') }}
        {{ form_widget(form.genre, {'attr': {'class': 'form-control'}}) }}
        </div>
        {# PHOTO #}
        
        {# MDP #}
        <div class="form-group">
        {{ form_label(form.oldPassword, 'Ancien mot de passe') }}
        {{ form_widget(form.oldPassword, {'attr': {'class': 'form-control'}}) }}
        {{ form_label(form.plainPassword.first, 'Nouveau mot de passe') }}
        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
        {{ form_label(form.plainPassword.second, 'Confirmer mot de passe') }}
        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
    {{form_end(form)}}
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
{% endblock %}