{% extends 'base.html.twig' %}

{% block title %}Consultation de profil{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <h1 class ="center">Mon compte</h1>
    <div class="profil">
    <ul>
        <li>Nom : {{ user.getNom() }}</li>
        <li>Prénom : {{user.getPrenom}}</li>
        <li>Numéro de Téléphone : {{user.getNumTel}}</li>
        <li>Email : {{ user.email }}</li>
        {% if user.vehicule == 1 %}
            <li>Voiture :   Oui   </li>
        {% else %}
            <li>Voiture :   Non   </li>
        {% endif %}
        <li>Genre : {{ user.genre }}</li>
        {% if user.getAutorisationMail() == 1 %}
                <li>Autorisation de notification mail : Oui</li>
        {% else %}
                 <li>Autorisation de notification mail : Non</li>
        {% endif %}
        <li>Photo de profil :</li>
        {% if user.getFichierPhoto() is not null %}
            <li><img src="{{ asset('uploads/' ~ user.getFichierPhoto()) }}" alt="Profile picture" style="border-radius: 50%; width: 100px; height: 100px;"></li>
        {% else %}
            <li>Aucune photo de profil</li>
        {% endif %}
        <a href="{{ path('modif_profil') }}">
            <button class="btn btn-primary">Modifier mon profil</button>
        </a>
<a href="{{ path('modif_profil') }}">
  <button class="btn btn-primary">Modifier mon profil</button> 
</a>
<a href="{{ path('supprimer_profil') }}">
  <button class="btn btn-danger" onclick="return confirm('Êtes-vous sûr(e) de vouloir désactiver votre profil ? Cette action est irréversible !');">Désactiver mon profil</button> 
</a>
    </ul>
    </div>
{% endblock %}
