{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <h1 class ="center">Mon compte</h1>
    <div class="profil">
    <ul>
        <li>Nom : {{ user.getNom() }}</li>
        <li>Prénom : {{user.getPrenom}}</li>
        <li>Numéro de Téléphone : {{user.getNumTel}}</li>
        <li>Email : {{ user.email }}</li>
        {% if user.vehicule == 1 %}
            <li>Voiture :   Oui   </li>
        {% else %}
            <li>Voiture :   Non   </li>
        {% endif %}
        <li>Genre : {{ user.genre }}</li>
        {% if user.getAutorisationMail() == 1 %}
                <li>Autorisation de notification mail : Oui</li>
        {% else %}
                 <li>Autorisation de notification mail : Non</li>
        {% endif %}
<a href="{{ path('modif_profil') }}">
  <button class="btn btn-primary">Modifier mon profil</button> 
</a>
<a href="#">
  <button class="btn btn-danger">Supprimer mon profil (ne fait rien)</button> 
</a>
    </ul>
    </div>
{% endblock %}
