{% extends 'base.html.twig' %}

{% block title %}Votre nouveau trajet{% endblock %}

{% block body %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

   <div class="example-wrapper">

        <h1>Ajouter un trajet </h1>

         {{ form_start(form) }}

       
        {#   Champ inutile à la création - le trajet est forcément de statut ouvert
            <div class= 'form-group'>
            {{ form_label(form.etat)}}
            {{ form_widget(form.etat)}}
            <div>
                {{form_errors(form.etat)}}
            </div>
            </div>
            #}
        
        <div class= 'form-group'>
            {{ form_label(form.T_depart)}}
            {{ form_widget(form.T_depart)}}
            <div>
                {{form_errors(form.T_depart)}}
            </div>
        </div>

        <div class= 'form-group'>
            {{ form_label(form.T_arrivee)}}
            {{ form_widget(form.T_arrivee)}}
            <div>
                {{form_errors(form.T_arrivee)}}
            </div>
        </div>

        <div class= 'form-group'>
            {{ form_label(form.demarrea)}}
            {{ form_widget(form.demarrea)}}
            <div>
                {{form_errors(form.demarrea)}}
            </div>
        </div>
        <div class= 'form-group'>
            {{ form_label(form.arrivea)}}
            {{ form_widget(form.arrivea)}}
            <div>
                {{form_errors(form.arrivea)}}
            </div>
        </div>

        <div class= 'form-group'>
            {{ form_label(form.prix)}}
            {{ form_widget(form.prix)}}
            <div>
                {{form_errors(form.prix)}}
            </div>
        </div>

        <div class= 'form-group'>
            {{ form_label(form.nb_passager_max)}}
            {{ form_widget(form.nb_passager_max)}}
            <div>
                {{form_errors(form.nb_passager_max)}}
            </div>
        </div>

        {# exclure l'attribut 'nb_passager_courant' #}
        {#    {{ form_row(form.nb_passager_courant, {'mapped': false}) }}   #} 

        <div class= 'form-group'>
            {{ form_label(form.public)}}
            {{ form_widget(form.public)}}
            <div>
                {{form_errors(form.public)}}
            </div>
        </div>

        <div class= 'form-group'>
            {{ form_label(form.renseignement)}}
            {{ form_widget(form.renseignement)}}
            <div>
                {{form_errors(form.renseignement)}}
            </div>
        </div>

         <div class= 'form-group'>
             {{ form_widget(form) }}
             </br>
                 <button class= "btn btn-info">{{ button_label|default('Enregistrer ce nouveau trajet') }}</button>
        </div>

        {{ form_end(form) }}
        </br>
        <a href="{{ path('app_trajets_index') }}" class= "btn btn-info">Retour à la liste de vos trajets</a>
    </div>
{% endblock %}
