{% extends 'base.html.twig' %}

{% block title %}Votre nouveau trajet{% endblock %}

{% block body %}

    {% if user is defined and user is not null and user.vehicule %}
        <!-- contenu de la page que si l'utilisateur est connecté et possède une voiture -->

       <div class = "container-fluid">
        <div class="row justify-content-center">
            </hr>
            <div class="col-md-3"> <!-- Volets de navigation -->
                {% include 'partials/_sidebar.html.twig' %}
            </div>

            <div class="col-md-9">
                <div class="container justify-content-center">
                    <h1 class="mb-4">Ajouter un trajet</h1>
                    <hr>

                    {{ form_start(form) }}
                    
                    <div class="form-row justify-content-center">
                    <div class="form-group col-md-4">
                        {{ form_label(form.T_depart) }}
                        {{ form_widget(form.T_depart, {'attr': {'class': 'form-control'}}) }}
                        <div>{{ form_errors(form.T_depart) }}</div>
                    </div>

                    <div class="form-group col-md-4">
                        {{ form_label(form.T_arrivee) }}
                        {{ form_widget(form.T_arrivee, {'attr': {'class': 'form-control'}}) }}
                        <div>{{ form_errors(form.T_arrivee) }}</div>
                    </div> 
                    </div>
                        
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-4">
                            {{ form_label(form.demarrea) }}
                            {{ form_widget(form.demarrea, {'attr': {'class': 'form-control'}}) }}
                            <div>{{ form_errors(form.demarrea) }}</div>
                        </div>
                        <div class="form-group col-md-4">
                            {{ form_label(form.arrivea) }}
                            {{ form_widget(form.arrivea, {'attr': {'class': 'form-control'}}) }}
                            <div>{{ form_errors(form.arrivea) }}</div>
                        </div>
                    </div>

                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-4">
                            {{ form_label(form.nb_passager_max) }}
                            {{ form_widget(form.nb_passager_max, {'attr': {'class': 'form-control'}}) }}
                            <div class="text-danger">{{ form_errors(form.nb_passager_max) }}</div>
                        </div>
                        <div class="form-group col-md-4">
                            {{ form_label(form.prix) }}
                            {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
                            <div>{{ form_errors(form.prix) }}</div>
                        </div>
                    </div>

                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-4">
                            {{ form_label(form.public) }}
                            {{ form_widget(form.public, {'attr': {'class': 'form-control'}}) }}
                            <div class="text-danger">{{ form_errors(form.public) }}</div>
                        </div>

                        <div class="form-group col-md-4">
                            {{ form_label(form.groupes) }}
                            {{ form_widget(form.groupes, {'attr': {'class': 'form-control'}}) }}
                            <div class="text-danger">{{ form_errors(form.groupes) }}</div>
                        </div>
                    </div>
                    <small class="text-muted">Les champs munis d'un * sont obligatoires.</small>

                    <div class="form-group">
                        {{ form_label(form.renseignement) }}
                        {{ form_widget(form.renseignement, {'attr': {'class': 'form-control'}}) }}
                        <div class="text-danger">{{ form_errors(form.renseignement) }}</div>
                    </div>

                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-4">
                            <button class="btn btn-primary">{{ button_label|default('Enregistrer ce nouveau trajet') }}</button>
                            {{ form_end(form) }}
                        </div>
                        <div class="form-group col-md-4">
                            <a href="{{ path('app_trajets_index') }}" class="btn btn-secondary">Retour à la liste de vos trajets</a>
                        </div>
                    </div> 
                </div>
            </div>


    {% else %}
        <p>Vous devez posséder une voiture pour accéder à cette page.</p>
    {% endif %}
    

    <script>
    const publicField = document.querySelector('#form_public');
    const groupesContainer = document.querySelector('.form-group');

    publicField.addEventListener('change', function() {
        if (publicField.checked) {
            groupesContainer.classList.add('groupes-hidden');
            groupesContainer.classList.remove('groupes-visible');
        } else {
            groupesContainer.classList.add('groupes-visible');
            groupesContainer.classList.remove('groupes-hidden');
        }
    });
</script>

{% endblock %}
