{% extends 'base.html.twig' %}

{% block title %}Rechercher un trajet{% endblock %}

{% block body %}
<!-- jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- jQuery UI library -->
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>

<!-- jQuery UI CSS -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/smoothness/jquery-ui.css">


    <!-- bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <style> 
        .example-wrapper { margin: 1em auto; max-width: 1000px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <!-- contenu de la page -->
    <div class = "example-wrapper">
        <div>    
        <form method="GET" action="{{ path('app_trajets_search') }}" class="search-form">
    {{ form_row(form.from, { 'attr': { 'id': 'search_trajet_from' } }) }}
    {{ form_row(form.to, { 'attr': { 'id': 'search_trajet_to' } }) }}
    {{ form_row(form.date, { 'attr': { 'class': 'form-control datepicker' } }) }}
    <button type="submit" class="btn btn-primary">Rechercher</button>
</form>
        </div>

        <div>
            <h1>Les résultats : </h1>
            <div>
                {% for trajet in trajets %}
                    <div>
                        {% if trajet.publie != utilisateur_actuel%}
                            {% if trajet.getNbPassagerMax() >  trajet.getNbPassagerCourant()%}
                                <li style="list-style-type:none">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="card mb-8 shadow-sm">
                                                <div class="card-body">
                                                    <div class="row"> <!-- Info concernant le trajet -->
                                                        <div class="col col-lg-2">
                                                            <h4 class="my-0 font-weight-normal">{{trajet.getHeureDepartString()}}</h4>
                                                            <small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{trajet.getTempsTrajetString()}}</small>
                                                            <br/>
                                                            <h4 class="my-0 font-weight-normal">{{trajet.getHeureArriveeString()}}</h4>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <h4 class="my-0 font-weight-normal"> {{trajet.demarrea}} </h4>
                                                            &nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-arrow-down-short"></i>
                                                            <h4 class="my-0 font-weight-normal">{{trajet.arrivea}}</h4>
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <h4 class="my-0 font-weight-normal">Description :</h4>
                                                            {{trajet.renseignement}}
                                                        </div>
                                                        <div class="col">
                                                            <h1 class="card-title pricing-card-title">{{trajet.prix}} <small class="text-muted">€</small></h1>
                                                        </div>
                                                    </div>
                                                    </br>
                                                    <div class="row"> <!-- Info concernant le conducteur -->
                                                        <div class="col col-lg-2">
                                                            <img src="/uploads/{{trajet.publie.getFichierPhoto()}}" class="rounded-circle" alt="img_profil" width="50" height="50">
                                                        </div>
                                                        <div class="col">
                                                            {{trajet.publie.nom}} {{trajet.publie.prenom}}<br/>
                                                            //note à afficher ici
                                                        <div>
                                                    </div>
                                                    </br>
                                                </div>
                                                <button type="button" class="btn btn-lg btn-block btn-primary">Adopter ce trajet</button>
                                            </div> 
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>




<script>
    $(document).ready(function() {
        // enable autocomplete for both form fields
        $('#search_trajet_from, #search_trajet_to').autocomplete({
            // specify the URL to send AJAX request to
            source: "{{ path('app_autocomplete_villes') }}",
            // specify the minimum number of characters required to trigger autocomplete
            minLength: 2,
            // specify the name of the parameter to be sent in the AJAX request
            // this is the name of the GET parameter that holds the user input
            // the default value is 'term', which matches your server-side code
            paramName: 'term',
            // specify the format of the response data from the server
            // the default value is 'json', which matches your server-side code
            dataType: 'json',
            // specify how to extract the city names from the response data
            // the default implementation assumes that the response data is an array of objects,
            // and each object has a property called 'text' that holds the city name
            // since your server-side code already returns the response data in this format,
            // you don't need to specify this option
            // the default value is:
            //   function(response) {
            //       return $.map(response, function(item) {
            //           return { label: item.text, value: item.text };
            //       });
            //   }
        });
    });
</script>
{% endblock %}