{% block body %}

{{ form_start(form) }}
<div class="form-group row align-items-center">
    <div class="col-sm-3">{{ form_row(form.demarrea, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="col-sm-3">{{ form_row(form.arrivea, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="col-sm-3">{{ form_row(form.T_depart, {'attr': {'class': 'form-control'}}) }}</div>
        <div class="col-sm-2">
        <button type="submit" class="btn btn-primary btn-block">
            <i class="fa fa-search"></i> Rechercher
        </button>
    </div>
</div>
{{ form_end(form) }}

{% endblock %}