{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des trajets privés</h1>
        {% if trajets|length == 0 or not estDedans%}
            <p>Aucun trajet privé, revenez plus tard !</p>
        {% else %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Créateur</th>
                        <th>Départ</th>
                        <th>Arrivée</th>
                        <th>Prix</th>
                        <th>Nombre de passagers</th>
                    </tr>
                </thead>
                <tbody>
                {% if groupes == null %}
                    <p> Aucun trajets privé revenez plus tard ! </p>
                {% else %}
                    {% for trajet in trajets %}
                        {% if trajet.publie.id != user.id %}
                            {% for groupe in groupes %}
                                {% if groupe.estDansGroupes(user.getId()) %}
                                    <tr>
                                        <td>{{ trajet.getPublie().getNom()}} {{ trajet.getPublie().getPrenom() }}</td>
                                        <td>{{ trajet.demarrea.getnomVille() }} - {{ trajet.getJourDepartString() }} {{ trajet.getHeureDepartString() }}</td>
                                        {% if trajet.getTArrivee() %}
                                        <td>{{ trajet.arrivea.getnomVille() }} - {{ trajet.getJourArriveeString() }} {{ trajet.getHeureArriveeString() }}</td>
                                        {% else %}
                                        <td>{{ trajet.arrivea.getnomVille() }} - Aucune Date définie</td>
                                        {% endif%}
                                        <td>{{ trajet.prix }} €</td>
                                        <td>{{ trajet.getNbPassagerCourant() }}/{{ trajet.getNbPassagerMax() }}</td>
                                        <td>
                                            {% if not is_granted('ROLE_ADMIN') %}
                                                {% set trajet_deja_adopte = false %}
                                                {% for adoption in user.getAdoptions() %}
                                                    {% if adoption.trajet.id == trajet.id %}
                                                        {% set trajet_deja_adopte = true %}
                                                    {% endif %}
                                                {% endfor %}
                                                {% if trajet_deja_adopte == false %}
                                                    <a href="{{ path('app_trajet.adopter_trajet', {'trajetId': trajet.id, 'utilisateurId': user.id}) }}" class="btn btn-success">Adopter le trajet</a>                     
                                                {% else %}
                                                    <a href="{{ path('app_trajet.abandonner_trajet', {'trajetId': trajet.id, 'utilisateurId': user.id}) }}" class="btn btn-danger">Abandonner le trajet</a>                            
                                                {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% endif %}
                        {% endfor %}
                        {% endif %}
                {% endif %}
                </tbody>
            </table>
{% endblock %}
